# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore build artifacts
build/
dist/

# Ignore environment variables file
.env

# Ignore IDE and editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore system files
.DS_Store
Thumbs.db
